@font-face {
    font-family: Handwritten;
    src: url('images/Written_1-Regular.otf');
}

body, html {
    /* background-image: url(images/fireplace.jpg);
    background-repeat: no-repeat;
    background-size: 100%  100%; */
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Handwritten';
    color: white;
    font-size: 1vw;
}

#paper {
    position: absolute;
    left: 27%;
    width: 50%;
    height: 90%;
    margin: 3%;
    z-index: 4;
}

#burn {
    position: fixed;
    left: 0%;
    right: 0%;
    margin: 0;
    z-index: 10;
}

#back {
    position: relative;
    left: 0%;
    right: 0%;
    margin: 0;
    z-index: 0;
}

.buttons {
    position: fixed;
    top: 5%;
    width: 10%;
    height: 40%;
    margin: 2%;
    z-index: 11;
    font-size: 2em;
}

button {
    background-color: rgb(125, 31, 14);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: block;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Handwritten';
}

button:disabled {
    opacity: 0.6;
}

#paperImg {
    display: none;
}

#logImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#aboutButton {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 12;
    
    font-size: 1.5em;
    border-radius: 4px;
}

#about_container {
    position: absolute;
    top:0;
    left: 27%;
    width: 40%;
    height: 90%;
    z-index: -1;
    padding: 3%;
    padding-bottom: 0%;
    margin: 1%;
    font-size: 2em;

    overflow-y: auto;
}

#closeButton {
    position: absolute;
    /* bottom: 15%; */
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

/* p {
    font-size: 2em;
} */


/* .text {
    position: fixed;
    left: 27%;
    width: 40%;
    height: 90%;
    z-index: 5;
} */

.frame {
    position: absolute;
    aspect-ratio: 16/9;
    width: 85%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid blue;
    min-height: 250px;
    
    background-image: url(images/fireplace.jpg);
    background-repeat: no-repeat;
    background-size: 100%  100%;
}